body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrap {
  height: 100%;
  width: 100%;
  min-width: 1440px;
  min-height: 900px;
  padding-top: 125px;
  box-sizing: border-box;
  position: relative;
}
.wrap .content {
  margin: 0 auto;
  width: 1200px;
}
.wrap .content .head {
  width: 900px;
  margin: 0 auto 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .content .head span {
  font-size: 14px;
  color: rgba(0,0,0,0.43);
  line-height: 20px;
}
.wrap .content .head span a {
  text-decoration: none;
  color: #5184ee;
}
.wrap .content .retireve-wrap {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0px 32px 40px -2px rgba(6,22,73,0.12), 0px 0px 1px 0px rgba(6,22,73,0.06);
  margin-bottom: 135px;
  background: #fff;
  border-radius: 6px;
}
.wrap .content .retireve-wrap .title p {
  text-align: center;
  line-height: 32px;
  font-size: 24px;
  color: #fff;
  padding: 13px 0;
  background: #5184ee;
  border-radius: 6px 6px 0px 0px;
}
.wrap .content .retireve-wrap .retireve-box {
  padding: 60px 144px 0;
}
.wrap .content .retireve-wrap .retireve-box .step-list li {
  display: inline-block;
  margin-right: 70px;
  font-size: 14px;
  color: #464c5b;
  position: relative;
}
.wrap .content .retireve-wrap .retireve-box .step-list li span {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #d7dde4;
  text-align: center;
  line-height: 32px;
}
.wrap .content .retireve-wrap .retireve-box .step-list li:after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background: #e3e8ee;
  position: absolute;
  right: -68px;
  top: 50%;
  transform: translateY(-50%);
}
.wrap .content .retireve-wrap .retireve-box .step-list li:last-child {
  margin-right: 0;
}
.wrap .content .retireve-wrap .retireve-box .step-list li:last-child::after {
  content: none;
}
.wrap .content .retireve-wrap .retireve-box .step-list .active span {
  background: #5184ee;
  color: #fff;
  border: 0;
}
.wrap .content .retireve-wrap .retireve-box form {
  width: 312px;
  margin: 60px auto 0;
}
.wrap .content .retireve-wrap .retireve-box form .form-item {
  margin-bottom: 16px;
  position: relative;
}
.wrap .content .retireve-wrap .retireve-box form .form-item .input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 12px;
  border: 1px solid #d7dde4;
  border-radius: 2px;
  height: 42px;
}
.wrap .content .retireve-wrap .retireve-box form .form-item .input-box img {
  width: 20px;
  height: 20px;
}
.wrap .content .retireve-wrap .retireve-box form .form-item .input-box input {
  height: 100%;
  border: 0;
  outline: none;
  text-indent: 13px;
  padding: 0;
  flex: 1;
}
.wrap .content .retireve-wrap .retireve-box form .form-item .submit-btn {
  width: 100%;
  border-radius: 2px;
  background: #5184ee;
  height: 42px;
  outline: none;
  border: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.wrap .content .retireve-wrap .retireve-box form .form-item .error-text {
  font-size: 12px;
  color: #f04138;
  line-height: 17px;
  position: absolute;
  bottom: -17px;
}
.wrap .content .retireve-wrap .retireve-box form .form-item .rule-box {
  position: absolute;
  top: 0;
  right: -240px;
  display: flex;
  justify-content: space-between;
}
.wrap .content .retireve-wrap .retireve-box form .form-item .rule-box img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.wrap .content .retireve-wrap .retireve-box form .form-item .rule-box .rule-text {
  width: 210px;
  font-size: 12px;
  color: #9ea7b4;
  line-height: 17px;
}
.wrap .content .retireve-wrap .retireve-box form .has-error {
  margin-bottom: 20px;
}
.wrap .content .retireve-wrap .retireve-box .step-content {
  margin: 75px auto 0;
}
.wrap .content .retireve-wrap .retireve-box .step-content p {
  font-size: 14px;
  color: #464c5b;
}
.wrap .content .retireve-wrap .retireve-box .step-content p a {
  color: #5184ee;
}
.wrap .content .retireve-wrap .retireve-box .done-box {
  margin: 37px auto 0;
  text-align: center;
}
.wrap .content .retireve-wrap .retireve-box .done-box .done-text {
  font-size: 18px;
  color: rgba(0,0,0,0.85);
  line-height: 32px;
  margin-top: 27px;
  font-weight: 500;
}
.wrap .content .retireve-wrap .retireve-box .done-box .done-tip {
  font-size: 14px;
  color: rgba(0,0,0,0.43);
  line-height: 22px;
}
.wrap .content .retireve-wrap .retireve-box .done-box .done-tip a {
  color: #5184ee;
}
.wrap .content .footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.wrap .content .footer p {
  width: 1200px;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #c3cbd6;
  border-top: 1px solid #d7dde4;
}
