body,html
    height 100%
    width 100%
    margin 0
    padding 0
.wrap
    height 100%
    width 100%
    min-width 1440px
    min-height 900px
    background url('../img/background_img.png') no-repeat
    background-size 100% 100%
    padding-top 125px
    box-sizing border-box
    .content
        margin 0 auto
        width 1200px
        .logo
            margin-bottom 17px
        .login-wrap
            width 100%
            height 515px
            background url('../img/login_bg.png') no-repeat
            background-size 100% 100%  
            padding 38px 47px 0 70px
            box-sizing border-box
            display flex
            justify-content space-between
            box-shadow 0px 32px 40px -2px rgba(6,22,73,0.12),0px 0px 1px 0px rgba(6,22,73,0.06)
            .title
                margin-top 175px
                h1
                    height 56px
                    font-size 40px
                    color #fff
                    font-weight 500
                h5
                    font-size 14px
                    line-height 20px
                    color #fff
                    font-weight 400
                    position relative
                    margin-left 93px
                    &:after
                        content ''
                        position absolute
                        width 76px
                        height 1px
                        background #fff
                        top 50%
                        transform translateY(-50%)
                        left -87px
            .login-box
                width 312px
                .login-type-list
                    border-bottom 1px solid #D7DDE4
                    margin-bottom 42px
                    user-select none
                    li
                        display inline-block
                        padding-bottom 10px
                        margin-right 40px
                        color #9EA7B4
                        font-size 18px
                        font-weight 500
                        cursor pointer
                        margin-bottom -2px
                    .cur-type
                        color #464C5B
                        border-bottom 3px solid #5184EE
                form
                    .form-item
                        margin-bottom 15px
                        .input-box
                            display flex
                            justify-content space-between
                            align-items center
                            padding-left 15px
                            padding-right 12px
                            border 1px solid #D7DDE4
                            border-radius 2px
                            height 42px
                            img
                                width 20px
                                height 20px
                            .psw-pic
                                cursor pointer
                            input
                                height 100%
                                border 0
                                outline none
                                text-indent 13px
                                padding 0
                                flex 1
                        .yzm
                            border 1px solid #D7DDE4
                            border-radius 2px
                            width 200px
                            height 42px
                            outline none
                            text-indent 13px
                            box-sizing border-box
                            vertical-align middle
                        .yzm-pic
                            width 100px
                            height 42px
                            border 1px solid #D7DDE4
                            border-radius 2px
                            vertical-align middle
                        .login-btn
                            width 100%
                            border-radius 2px
                            background #5184EE
                            height 42px
                            outline none
                            border 0
                            font-size 16px
                            color #fff
                            font-weight 500
                    .op
                        display flex
                        justify-content space-between
                        label
                            cursor pointer
                            font-size 14px
                            color rgba(0,0,0,0.65)
                            line-height 22px
                            display flex
                            align-items center
                            user-select none
                        a
                            color #5184EE
                            text-decoration none
                            font-size 14px
                            line-height 20px 