body,html
    height 100%
    width 100%
    margin 0
    padding 0
.wrap
    height 100%
    width 100%
    min-width 1440px
    min-height 900px
    background url('../img/background_img.png') no-repeat
    background-size 100% 100%
    padding-top 125px
    box-sizing border-box
    position relative
    .content
        margin 0 auto
        width 1200px
        .logo
            margin-bottom 17px
        .login-wrap
            width 100%
            height 515px
            background url('../img/login_bg.png') no-repeat
            background-size 100% 100%  
            padding 38px 47px 0 70px
            box-sizing border-box
            display flex
            justify-content space-between
            box-shadow 0px 32px 40px -2px rgba(6,22,73,0.12),0px 0px 1px 0px rgba(6,22,73,0.06)
            margin-bottom 135px
            .title
                margin-top 175px
                h1
                    height 56px
                    font-size 40px
                    color #fff
                    font-weight 500
                h5
                    font-size 14px
                    line-height 20px
                    color #fff
                    font-weight 400
                    position relative
                    margin-left 93px
                    &:after
                        content ''
                        position absolute
                        width 76px
                        height 1px
                        background #fff
                        top 50%
                        transform translateY(-50%)
                        left -87px
            .login-box
                width 312px
                .login-type-list
                    border-bottom 1px solid #D7DDE4
                    margin-bottom 42px
                    user-select none
                    li
                        display inline-block
                        padding-bottom 10px
                        margin-right 40px
                        color #9EA7B4
                        font-size 18px
                        font-weight 500
                        cursor pointer
                        margin-bottom -2px
                    .cur-type
                        color #464C5B
                        border-bottom 3px solid #5184EE
                form
                    .form-item
                        margin-bottom 15px
                        .input-box
                            display flex
                            justify-content space-between
                            align-items center
                            padding-left 15px
                            padding-right 12px
                            border 1px solid #D7DDE4
                            border-radius 2px
                            height 42px
                            img
                                width 20px
                                height 20px
                            .psw-pic
                                cursor pointer
                            input
                                height 100%
                                border 0
                                outline none
                                text-indent 13px
                                padding 0
                                flex 1
                        .yzm
                            border 1px solid #D7DDE4
                            border-radius 2px
                            width 200px
                            height 42px
                            outline none
                            text-indent 13px
                            box-sizing border-box
                            vertical-align middle
                        .yzm-pic
                            width 100px
                            height 42px
                            border 1px solid #D7DDE4
                            border-radius 2px
                            vertical-align middle
                        .login-btn
                            width 100%
                            border-radius 2px
                            background #5184EE
                            height 42px
                            outline none
                            border 0
                            font-size 16px
                            color #fff
                            font-weight 500
                            cursor pointer
                        .msg-yzm
                            width 200px
                            height 42px
                            border 1px solid #D7DDE4
                            border-radius 2px
                            text-indent 15px
                            outline none
                        .msg-btn
                            width 100px
                            height 42px
                            background #5184EE
                            color #FFFFFF
                            font-size 14px
                            outline none
                            border 0
                            cursor pointer
                    .op
                        display flex
                        justify-content space-between
                        label
                            cursor pointer
                            font-size 14px
                            color rgba(0,0,0,0.65)
                            line-height 22px
                            display flex
                            align-items center
                            user-select none
                        a
                            color #5184EE
                            text-decoration none
                            font-size 14px
                            line-height 20px
                .other-login-type
                    margin-top 32px 
                    position relative
                    .other-title
                        font-size 10px
                        color #B9C0CC
                        font-weight 500
                        position relative
                        text-align center
                        left 0
                        width 100%
                        &:before,&:after
                            content ''
                            display block
                            position absolute
                            height 1px
                            width 127px
                            background #E3E8EE
                            top 50%
                            transform translateY(-50%)
                        &:before
                            left 0
                        &:after
                            right 0
                    .other-login-list
                        margin-top 18px
                        display flex
                        justify-content center
                        li
                            margin-right 40px
                            a
                                text-decoration none
                                display flex
                                flex-direction column
                                align-items center
                                font-size 12px
                                color #B9C0CC
                            img
                                width 36px
                                height 36px
                                border-radius 50%
                                background #C3CBD6
                                margin-bottom 8px
                                border 0
                            &:last-child
                                margin-right 0
                        .qq:hover img
                            background #0091FF
                        .wb:hover img
                            background #FF5809
                        .wx:hover img
                            background #6AB242
        .footer
            position absolute
            bottom 0
            left 50%
            transform translateX(-50%)
            p
                width 1200px
                padding 20px 0
                text-align center
                font-size 14px
                color #C3CBD6
                border-top 1px solid #D7DDE4